# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
.mypy_cache/
.ruff_cache/

# Environment
.env
.venv/

# Logs
logs/*.log*

# OS
.DS_Store

# Data (can be re-downloaded)
data/

# Charts
charts/
